@model CreateMessageDto

@{
	ViewData["Title"] = "CreateMessage";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
	<label>Ad-Soyad</label>
	<input type="text" asp-for="Name" class="form-control" />
	<br />
	<label>Konu</label>
	<input type="text" asp-for="Subject" class="form-control" />
	<br />
	<label>E-Mail</label>
	<input type="text" asp-for="Email" class="form-control" />
	<br />
	<label>Mesaj İçeriği</label>
	<textarea asp-for="MessageContent" class="form-control" rows="5"></textarea>
	<button class="btn btn-dark">Kaydet</button>
</form>
